<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>hsp4</string>
	<key>CFBundleIdentifier</key>
	<string>net.siguza.hsp4</string>
	<key>CFBundleName</key>
	<string>HostSpecialPort4</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>14.0</string>
		<key>com.apple.kpi.dsep</key>
		<string>14.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.0</string>
		<key>com.apple.kpi.mach</key>
		<string>14.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>14.0</string>
	</dict>
</dict>
</plist>
